/* Navbar styles */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #e11010; /* Set navbar background to blue */
  z-index: 100;
  box-sizing: border-box;
  /* Adjust this value to match the desired space */
}

body {
  padding-top: 60px; /* Adjust to match the navbar's height */
  margin: 0;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.navbar-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.post-property-btn {
  background-color: #18f60c;
  color: rgb(9, 12, 95);
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.post-property-btn:hover {
  background-color: #008c9e;
}

.contact-btn {
  background: none;
  border: none;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  position: relative;
}

.contact-btn:hover {
  color: #00bcd4;
}

/* Tooltip styling for Contact Us */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 4px;
  position: absolute;
  z-index: 1;
  top: 125%; /* Below the button */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.profile-dropdown {
  position: relative;
  display: inline-block;
}

.profile-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: #fff;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
  min-width: 160px;
}

.profile-dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-item {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: #f1f1f1;
}

.dropdown-item:hover {
  background-color: grey;
}

/* Home Button Styling */
.home-btn {
  background: none;
  border: none;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
}

.home-btn:hover {
  color: #00bcd4;
}