.pricing-form-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.left-section {
  width: 25%;
}

@keyframes shine {
  0% {
    left: -100%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 100%;
    opacity: 0; /* Fade out the shine */
  }
}


.progress-steps {
  display: flex;
  flex-direction: column;
}

.step {
  padding: 10px;
  border-left: 3px solid lightgray;
  margin-bottom: 10px;
}

.step.completed {
  color: green;
  border-left-color: green;
}

.step.active {
  color: blue;
  border-left-color: blue;
}

.step span {
  color: blue;
  cursor: pointer;
}

.property-score {
  margin-top: 30px;
  text-align: center;
}

.score-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.score-circle span {
  font-size: 18px;
  font-weight: bold;
}

.main-section {
  width: 60%;
}

.main-section h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.form-group input {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.amenities,
.house-rules {
  margin-bottom: 20px;
}

.amenities h4,
.house-rules h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.amenity-group,
.house-rules label {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.amenity-group label,
.house-rules label {
  font-size: 16px;
}

.form-actions {
  display: flex;
  justify-content: space-between;
}

.back-button,
.continue-button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.back-button {
  background-color: #6c757d;
}

.continue-button:hover {
  background-color: #0056b3;
}

.back-button:hover {
  background-color: #5a6268;
}
